body {
    overflow: scroll;
    margin: 0;
    font-family: monospace;
}

h1, h2 {
    text-align: center;
}
.button-container {
    display: flex;
    justify-content: center;
}
.centered {
    max-width: 500px;
    margin: auto;
}
.container {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.grid-item {
    border-radius: 15px;
    max-width: 125px;
    max-height: 125px;
    height: 40vh;
    width: 40vw;
    font-size: 50px;
}
.grid-item:disabled {
    cursor:not-allowed;
}

#red {
    color: red;
}
#blue {
    color: blue;
}
#purple {
    color: purple;
}

#reset {
    font-family: monospace;
    color: white;
    background-color:black;
    border: none;
    border-radius: 10px;
    padding: 15px;
}
footer {
    text-align: right;
    padding: 15px;
    font-size: large;
}